
.container{
      
    background-color: #fff;
    }
.container1{
background-color: #1f2937;
 color: #fff;
 padding: 70px;
 font-size:30px;   
}
.container2{
    text-align: center;
    background-color: #fff;
    padding: 40px;
    font-size:30px;
    
}
.container3{
    
    background-color: #e5e7eb;
    padding: 160px;
    font-size:36px;
    
}
footer{
    
    background-color: #fff;
    padding: 60px;
    font-size:36px;
    border-radius: 10px;
    
}
.container4{
    text-align: center;
    background-color: #164dbb;
    border-radius: 10px;
    padding: 38px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: auto;
    color: #fff;
}
.top{
    float: left;
    width: 230px;
    height: 200px;
}
#photo{
    
    width: 330px;
    height: 200px;

}
figure{
    display: inline-block;
   
}